h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    padding: 25px;
}

p {
    text-align: justify;
}

.column-left,
.column-right {
    width: 25%;
    float: left;
}

.spacer {
    visibility: hidden;
}

.column-middle {
    width: 50%;
    float: left;
}

.hidden-content {
    display: none;
}
